In [9]:
import sys
sys.path.append('../')
%load_ext autoreload
%autoreload 2
from clostream import CloStream
import pandas as pd
from utils import get_size
%load_ext memory_profiler

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
df= pd.read_csv('../listen-20131115.log', names=['timestamp', 'song_id', 'user_id', 'artist_id', 'provider_id', 'ip'])
df.drop(['timestamp'], axis=1, inplace=True)

In [25]:
df.head()

    song_id    user_id  artist_id  provider_id               ip
0  67379305  114154335    4771782           13    151.18.141.95
1  67379305  114154335    4771782           13    151.18.141.95
2  65708036  114154335      69822            3    151.18.141.95
3  24276248  237213169     293587            5  188.125.103.178
4  68340246  309300779        811            4   151.47.102.120

In [26]:
sample = df.head(int(1e4))

In [33]:
import time
for min_size in range(4):
    cs = CloStream(filter_fn = lambda e : len(e) > min_size)
    start = time.time()
    %memit cs.add_df(sample)
    tot_time = time.time() - start
    closed_table_size = len(cs.closed_table)#get_size(cs.closed_table) // 2**20
    cid_list_size = len(cs.cid_list_map)#get_size(cs.cid_list_map) // 2**20
    print('min_size = {}, time: {}, closed_table of size : {}, cid_list_map of size : {}'.format(min_size, tot_time, closed_table_size, cid_list_size))

peak memory: 98.47 MiB, increment: 7.22 MiB
min_size = 0, time: 9.302841901779175, closed_table of size : 8372, cid_list_map of size : 6437
peak memory: 98.44 MiB, increment: 6.70 MiB
min_size = 1, time: 9.153666973114014, closed_table of size : 8240, cid_list_map of size : 6437
peak memory: 98.45 MiB, increment: 6.26 MiB
min_size = 2, time: 9.437473058700562, closed_table of size : 7780, cid_list_map of size : 6437
peak memory: 98.27 MiB, increment: 5.56 MiB
min_size = 3, time: 8.209215879440308, closed_table of size : 6887, cid_list_map of size : 6437

In [28]:
cs = CloStream(filter_fn= lambda e : len(e) > 3)

In [29]:
cs.add_df(sample)